Address Les' comment as part of IANA statement.

https://mailarchive.ietf.org/arch/msg/rtg-bfd/H1mkbUhyzysWKZl27fDzCWpiedo/

How about we say “A BFD Control packet does not carry a sequence number by default. BFD[RFC5880], Section 6.7 says that the purpose of the Authentication Section, which is optional in a BFD Control packet, is to carry the necessary information that allows the receiving system to determine the validity of the received packet. The NULL Auth type uses the Authentication Section to carry the sequence number by enabling the A-bit and setting the bfd.AuthType to TBD”.